/* height: 1080px && width: 1920px*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    background-image: linear-gradient(to right, #437995, #62B184);
}

/*Start Form-Box Style*/
.form-body {
    width: 610px;
    height: 841px;
    margin: auto;
    margin-top: 49px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.form-header {
    width: 100%;
    height: 290px;
    font: normal normal bold 90px/103px Arial;
    color: #555555;
    position: relative;
    top: 100px;
}

/*If Submit with wrong Username||Password*/
.form-wrong {
    display: none;
    font-size: 20px;
    margin-bottom: 190px;
    position: relative;
    top: 100px;
}

.error-header {
    font: normal normal bold 20px/23px Arial;
    margin-bottom: 20px;
    color: #4469B1;
}

/*If Submit with empty Input-field*/
.form-failed {
    margin-top: 5px;
    margin-left: 100px;
    text-align: left;
    color: red;
}

.input-failed::-webkit-input-placeholder {
    color: red;
}

/*Input-field styling*/
input[type=text], input[type=password] {
    width: 349px;
    border: none;  
    background-color: white;
    border-bottom: 2px solid #808080;
    font: normal normal normal 23px/27px Arial;
    opacity: 0.6;
    color: #B4B4B4;
    background-size:25px;
    background-position: 5px 10px; 
    background-repeat: no-repeat;
    padding: 10px 40px;
}

input[type=text] {
    background-image: url('../img/user.png');
}

input[type=password] {
    background-image: url('../img/lock.png');    
}

input[type=text]:focus,
input[type=password]:focus {
    outline: none;
    opacity: 1;
}

.form-group {
    margin-bottom: 50px;
}


/*Customer Checkbox styling*/
.form-check {
    margin-right: 200px;
    font: normal normal normal 23px/27px Arial;
    color: #555555;
}

.form-check-container {
    display: block;
    position: relative;
    margin-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 45px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}  

.form-check-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.form-check-container input:checked ~ .checkmark {
    background-image: linear-gradient(to right, #437995, #62B184);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.form-check-container input:checked ~ .checkmark:after {
    display: block;
}

.form-check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Submit-button styling*/
.btn {
    background: linear-gradient(to right, #437995, #62B184);
    background-color: #62B184;
    color: white;
    font: normal normal bold 25px/29px Arial;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 429px;
    height: 72px;
    opacity: 0.9;
    margin-bottom: 70px;
    transition: background 2s linear;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
}

.btn:hover {
    background: #437995;
}

/*Links styling*/
.form-buttom {
    font-size: 20px;
    color: #555555;
}

.link {
    margin-bottom: 20px;
}

.form-buttom .link a:link {
    text-decoration: none;
    color: #555555;
    cursor: pointer;
}

.form-buttom .link a:link span {
    font-weight: bold;
}

.form-buttom .link a:link:hover {
    opacity: 0.8;
}

/*Logo styling*/
.footer {
    text-align: center;
}

.footer-logo {
    position: relative;
    top: 90px;
}

.footer-logo img {
    width: 248px;
    height: 75px;
}

.footer-logo img:hover {
    opacity: 0.7;
}

/*for width<360px*/

@media only screen and (max-width: 630px) {  

    .form-body {
        width: 510px;
    }

    .form-header {
        font: normal normal bold 75px/100px Arial;
    }

    input[type=text], input[type=password] {
        width: 275px; 
        font: normal normal normal 20px/23px Arial;
        background-size:22px;
    }

    .form-check {
        margin-right: 135px;
        font: normal normal normal 20px/23px Arial;
    }
    
    .form-check-container {
        margin-left: 35px;
    }

    .btn {
        font: normal normal bold 22px/25px Arial;
        width: 360px;
        height: 62px;
    }

    .form-buttom {
        font-size: 18px;
    }

    .footer-logo img {
        width: 238px;
        height: 65px;
    }

}

/*for height<1000px*/

@media only screen and (max-height: 1000px) {
    .form-body {
        height: 761px;
    }
    .form-header {
        height: 220px;
        top: 55px;
    }
    .footer-logo {
        top: 45px;
    }
    .form-wrong {
        margin-bottom: 150px;
        position: relative;
        top: 75px;
    }
}