/* height: 1080px && width: 1920px*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    background-image: linear-gradient(to right, #437995, #62B184);
}

/*Start Form-Box Style*/

.form-body {
    position: absolute;
    right: 0;
    left: 0;
    width: 610px;
    height: 80vh;
    margin: auto;
    margin-top: 4.5vh;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.form-header {
    width: 100%;
    height: 24vh;
    font: normal normal bold 5.625em/24vh Arial;
    color: #555555;
}

/*If Submit with wrong Username||Password*/

.form-wrong {
    display: none;
    font-size: 20px;
    margin-bottom: 15vh;
    position: relative;
    top: 6.25vh;
}

.error-header {
    font: normal normal bold 20px/2.3vh Arial;
    margin-bottom: 2vh;
    color: #4469B1;
}

/*If Submit with empty Input-field*/

.form-failed {
    margin-top: 5px;
    margin-left: 10px;
    text-align: left;
    color: red;
}

.input-failed::-webkit-input-placeholder {
    color: red;
}

/*Input-field styling*/
.form {
    display: inline-block;
}

input[type=text], input[type=password] {
    width: 349px;
    border: none;  
    background-color: white;
    border-bottom: 2px solid #808080;
    font: normal normal normal 23px/2.7vh Arial;
    opacity: 0.6;
    background-size:25px;
    background-position: 5px 10px; 
    background-repeat: no-repeat;
    padding: 1vh 40px;
}

input[type=text] {
    background-image: url('../img/user.png');
}

input[type=password] {
    background-image: url('../img/lock.png');    
}

input[type=text]:focus,
input[type=password]:focus {
    outline: none;
    opacity: 1;
}

.form-group {
    margin-bottom: 5vh;
}


/*Customer Checkbox styling*/

.form-check {
    float: left;
    font: normal normal normal 23px/2.7vh Arial;
    color: #555555;
}

.form-check-container {
    display: block;
    position: relative;
    margin-left: 50px;
    margin-bottom: 5vh;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: -45px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}  

.form-check-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.form-check-container input:checked ~ .checkmark {
    background-image: linear-gradient(to right, #437995, #62B184);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.form-check-container input:checked ~ .checkmark:after {
    display: block;
}

.form-check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Submit-button styling*/
.btn {
    background: linear-gradient(to right, #437995 55%, #62B184 70%);
    color: white;
    font: normal normal bold 25px/2.9vh Arial;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 16.5em;
    box-sizing: content-box;
    height: 7vh;
    opacity: 0.9;
    margin-bottom: 7vh;
    background-size: 200%;
    background-position: right;
    transition: background 2s linear;
}

#btn {
    transition-timing-function: ease-in;
}

.btn:hover {
    background-position: left;
}

/*Links styling*/
.form-buttom {
    font-size: 20px;
    color: #555555;
}

.link {
    margin-bottom: 2vh;
}

.form-buttom .link a:link {
    text-decoration: none;
    color: #555555;
    cursor: pointer;
}

.form-buttom .link a:link span {
    font-weight: bold;
}

.form-buttom .link a:link:hover {
    opacity: 0.8;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-logo img {
    width: 248px;
    height: 7vh;
}

.footer-logo img:hover {
    opacity: 0.7;
}

/*for height<950px and height>630px*/

@media only screen and (max-height: 950px) and (min-width:630px) {
    .form-body {
        position: absolute;
        right: 0;
        left: 0;
        width: 540px;
    }
    .form-header {
        font: normal normal bold 5em/220px Arial;
    }
    input[type=text], input[type=password] {
        width: 300px; 
        font: normal normal normal 20px/23px Arial;
        background-size:22px;
    }
    .form-check {
        font: normal normal normal 20px/23px Arial;
    }
    .btn {
        font: normal normal bold 20px/23px Arial;
        width: 380px;
        height: 60px;
    }
    .form-buttom {
        font-size: 18px;
    }
    .footer-logo img {
        width: 238px;
        height: 60px;
    }
}

/* for width<630px or height<850px*/

@media only screen and (max-width: 630px), (max-height: 850px) {  

    .form-body {
        position: absolute;
        right: 0;
        left: 0;
        width: 510px;
        height: 640px;
    }
    .form-header {
        height: 180px;
        font: normal normal bold 75px/220px Arial;
    }
    input[type=text], input[type=password] {
        padding: 10px 40px;
        width: 275px; 
        font: normal normal normal 20px/23px Arial;
        background-size:22px;
    }

    .form-wrong {
        margin-bottom: 100px;
        position: relative;
        top: 50px;
    }
    .form-check-container {
        margin-bottom: 50px;
    }
    .form-check {
        font: normal normal normal 20px/23px Arial;
    }
    .form-group {
        margin-bottom: 40px;
    }
    .btn {
        margin-bottom: 50px;
        font: normal normal bold 22px/25px Arial;
        width: 360px;
        height: 60px;
    }
    .form-buttom {
        font-size: 18px;
    }

    .footer-logo img {
        width: 238px;
        height: 65px;
    }
    .footer {
        position:relative;
        top: 700px;
        right: 0;
        left: 0;
    }
}